@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --primary-bg: #EEF5FF;
  --secondary-bg: #B4D4FF;
  --accent-bg: #86B6F6;
  --primary-text: #176B87;
  --background: var(--primary-bg);
  --foreground: var(--primary-text);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Inter Tight', sans-serif;
  --font-mono: 'Inter Tight', monospace;
}

body {
  background: var(--primary-bg);
  color: var(--primary-text);
  font-family: 'Inter Tight', sans-serif;
  font-weight: 400;
}
